# Django configuration
DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,.vercel.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://*.vercel.app
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Razorpay test/live configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# SMTP configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
DEFAULT_FROM_EMAIL=
COMPANY_NOTIFICATION_EMAIL=